<div>
    <h1> Logueate usando github </h1>
    <a href="/sessions/github"><button> Entrar con github </button></a>
    <br>
    <h4> No quieres usar Github? Puede usar nuestros enlaces </h4>
    <p> No estas registrado? <a href="/users/register"> Registrate aqui </a></p>
    <p>Ya tenes una cuenta?<a href="/users/login"> Logueate aqui </a></p>
</div>