<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Perfil</title>
</head>
<body>
    <div>
        <h1>BIENVENIDO A TU PERFIL!! {{user.name}}</h1>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Age: {{user.age}}</p>
    </div>
</body>
</html>
