<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{fileCss}}">
    <title>Registro de Usuario</title>
</head>
<body>
    <form id="registerUsers" method="post" action="/api/session/register" >
    <h2>Registro de Usuario</h2>
        <label >Nombre:</label>
        <input name="first_name" required >

        <label >Apellido:</label>
        <input  name="last_name" required>

        <label >Correo Electrónico:</label>
        <input type="email" name="email"required >

        <label >Edad:</label>
        <input name="age" required>

        <label >Contraseña:</label>
        <input type="password" name="password" required >

        <button type="submit">Registrar</button> 
        <small><p>¿Ya tienes una cuenta? <a href="/users/login">Iniciar Sesión</a></p></small>
    </form>

<script src="/js/register.js"></script>

</body>
</html>
